<div class="flex flex-col md:flex-row gap-4 p-4 border border-gray-200 rounded-lg bg-white hover:shadow-md transition-shadow mb-4">

    <div class="h-48 md:w-72 shrink-0 relative bg-gray-100 rounded-md overflow-hidden">
        <img
            [src]="data.image"
            alt="Servicio"
            class="w-full h-full object-cover">
    </div>

    <div class="flex-1 flex flex-col gap-1">

        <div class="flex items-start justify-between">
            <div>
                <h3 class="font-bold text-gray-900 flex items-center gap-2 min-w-0 ">
                    <span class="block flex-2">{{ data.name }}</span>
                    <i *ngIf="data.verified" class="pi pi-check-circle text-blue-500 text-base shrink-0" title="Verificado"></i>
                </h3>
                <p class="text-gray-900 font-semibold text-sm mt-1 leading-snug">{{ data.title }}</p>
            </div>
        </div>

        <div class="flex flex-wrap items-center gap-x-3 gap-y-1 mt-2 text-sm text-gray-600">

            <div class="flex items-center gap-1">
                <span class="font-bold text-gray-900 text-sm">{{ data.rating }}</span>
                <i class="pi pi-star-fill text-yellow-400 text-sm"></i>
                <span class="text-gray-500 text-xs">({{ data.reviews }} valoraciones)</span>
            </div>

            <div class="flex items-center gap-1.5">
                <i class="pi pi-money-bill text-gray-400"></i>
                <span>Efectivo</span>
            </div>

            <span class="text-gray-300">•</span>

            <div class="flex items-center gap-1.5">
                <i class="pi pi-clock text-gray-400"></i>
                <span>{{ data.hours }}</span>
            </div>

            <div class="flex items-center gap-1.5">
                <i class="pi pi-comments text-gray-400"></i>
                <span>{{ data.languages }}</span>
            </div>
        </div>

        <div class="flex items-center gap-1 text-gray-600 text-xs pt-3">
            <i class="pi pi-map-marker"></i>
            <span class="truncate">{{ data.location }}</span>
        </div>

        <br><br>
        <div class="flex gap-2 justify-end shrink-0 mt-3 md:mt-0 md:self-end">
          <button
            pButton
            label="Guardar"
            icon="pi pi-bookmark"
            [outlined]="true"
            class="bg-white text-gray-900 border border-gray-300 font-bold text-sm h-9 px-4 rounded-md hover:bg-gray-50 transition-colors"
          ></button>
          <button
            pButton
            label="Ver Perfil"
            class="bg-black text-white border-none font-bold text-sm h-9 px-4 rounded-md hover:bg-gray-800 transition-colors"
          ></button>
        </div>
    </div>

</div>
