@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-yellow-brand {
    background-color: #fbbf24 !important;
    border-color: #fbbf24 !important;
    color: #111827 !important;
    font-weight: 700 !important;
}
